*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#container{
    width: 1140px;
    margin: 0 auto;
}
section{
    padding: 60px 0px;
    align-items: center;
}
.hero-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 45px;
    margin-bottom: 10px;
}
h2{
    font-size: 35px;
}
h2, h3, h4, h5{
    margin-bottom: 20px;
}
p{
    margin-bottom: 40px;
}

/* Hero section */
.hero-container {
    display: flex;
    align-items: center;
}
.hero-left{
    width: 50%;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: white;
    background-image: linear-gradient(120deg, #fb69579e,#fa6e5a);
    padding: 14px 35px;
    border-radius: 5px;
    
}

.hero-right{
    width: 50%;
}

.hero-right img{
    width: 500px;
}

/* second section */
.second-section{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

.second-container{
    display: flex;
    align-items: center;
}
.second-left {
    width: 50%;
}
.second-left img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 9px 17px 30px #fb69574d;
}

.second-right{
    width: 50%;
    padding-left: 20px;
}
.second-right p{
    line-height: 1.8em;
}

/* Experience */
.experience{
    padding-bottom: 100px;
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience h2{
    text-align: center;
    margin-bottom: 60px;
}

.experience-container{
    display: flex;
}
.exp-box{
    width: 50%;
    padding: 40px;
    background: #fb6a576e;
    box-shadow: 6px 12px 20px #973f3498;
}
.exp-box h2{
    text-align: left;
    margin-bottom: 20px;
}
.exp-box p {
    text-align: justify;
    line-height: 1.8em;
}

.exp-left{
    margin-right: 40px;
    border-radius: 5px;
}
.exp-right{
    margin-left: 20px;
    border-radius: 5px;
}
/* Footer */
.copyright{
    text-align: center;
}
.copyright p {
    color: #272727;
}